os: Visual Studio 2015

platform:
    - Win32
    - x64

branches:
    only:
        - master

environment:
    matrix:
        - RUST: 1.16.0
          ABI: msvc
        - RUST: 1.16.0
          ABI: gnu
        - RUST: 1.18.0
          ABI: msvc
        - RUST: 1.18.0
          ABI: gnu
        - RUST: beta
          ABI: msvc
        - RUST: beta
          ABI: gnu
        - RUST: nightly
          ABI: msvc
        - RUST: nightly
          ABI: gnu

cache:
    - rust -> appveyor.*
    - target -> Cargo.toml
    - extprim_tests\target -> **\Cargo.toml
    - '%USERPROFILE%\.cargo'

build_script: appveyor.bat

